@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.layout-root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100%;
  overflow: hidden;
}

:is(.dark) .layout-root {
  background: black;
}

.layout-header {
  padding-top: calc(var(--sat) + 12px);
  padding-bottom: 12px;
}

.layout-content {
  overflow: hidden;
  min-height: 0;
}

.layout-nav {
  padding-bottom: 0px;
}